<div class="container">

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput type="text" id="address" placeholder="street name" [(ngModel)]="address" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cost</mat-label>
    <input matInput type="number" id="cost" placeholder="cost of house" [(ngModel)]="cost" />
  </mat-form-field>

  <div class="content" *ngIf="areListsVisible">

    <mat-selection-list (selectionChange)="housesByDistanceChanged($event)">
      <mat-list-option *ngFor="let house of housesByDistance" [value]="house">
        {{ house.displayName }}
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list (selectionChange)="housesByMoreThanNChanged($event)">
      <mat-list-option *ngFor="let house of housesByMoreThanN">
        {{ house.displayName }}
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list (selectionChange)="housesByNotAllDataChanged($event)">
      <mat-list-option *ngFor="let house of housesByNotAllData">
        {{ house.displayName }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <p>Status: <span>{{status}}</span></p>

</div>